#!/usr/bin/env python3
"""
Основные требования для приложения
"""

PyQt5==5.15.9
PyQt5-sip==12.13.0
PyAutoGUI==0.9.53
Pillow==10.0.0
NumPy==1.24.3
opencv-python==4.8.0.74
pynput==1.7.6
PyYAML==6.0.1
pydantic==2.3.0
